packer_compiled.lua
vlc-qt-interface.conf

**/awesome/awesome-wm-widgets

**/lazygit/*
!**/lazygit/config.yml

**/mpv/shaders
**/mpv/persistent_config.json

**/pulse/*
!**/pulse/client.conf

**/ranger/plugins/**
**/ranger/commands.py
**/ranger/commands_full.py
**/ranger/rifle.conf
**/ranger/rifle.confn
**/ranger/scope.sh
**/ranger/scope.shn

**/tmux/plugins/*

**/qutebrowser/*
!**/qutebrowser/greasemonkey
!**/qutebrowser/themes
!**/qutebrowser/config.py

**/qtile/**/__pycache__
**/qtile/.idea/

**/zsh/.zcompdump

package.json
.luarc.json

**/__pycache__
dotfiles/.config/systemd/user/default.target.wants
