packer_compiled.lua
vlc-qt-interface.conf

**/lazygit/*
!**/lazygit/config.yml

**/mpv/shaders
**/mpv/persistent_config.json

**/pulse/*
!**/pulse/client.conf

**/ranger/plugins/**
**/ranger/commands.py
**/ranger/commands_full.py
**/ranger/rifle.conf
**/ranger/scope.sh

**/qutebrowser/*
!**/qutebrowser/themes
!**/qutebrowser/config.py

**/zsh/.zcompdump
