[Unit]
Description=Rust analyzer multiplex server

[Service]
RuntimeDirectory=ra-mux
Environment=PATH=%h/.local/share/cargo/bin
Type=simple
ExecStart=%h/.local/share/cargo/bin/ra-multiplex server

[Install]
WantedBy=default.target
