/* colors */


/*
 * Onedark color palatte
 * #282C34
 * #E06C75
 * #98C379
 * #E5C07B
 * #61AFEF
 * #C678DD
 * #56B6C2
 * #ABB2BF
*/

* {
  al:  #00000000;
  fg:  #ABB2BFff;
  bg:  #282C34ff;
  se:  #61AFEFff;
  ac:  #282C34ff;
  selected-border: #56B6C2ff;
  element-bg: #00000000;
  element-fg: #FFFFFFff;
}
/* vim:ft=css
