[Desktop Entry]
Categories=Utility;
Type=Application
Name=plank
GenericName=Dock
Exec=plank
Icon=plank
Terminal=false
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
